.apropos1 {
  background-color: #343a59;
  color: white;
  padding: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 0;
}

.apropos1 h2 {
  font-size: 40px;
}

.apropos1 small {
  color: #d86344;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
}

.apropos1 h3 {
  font-size: 30px;
  color: #01c8a9;
}

.apropos1 img {
  width: 500px;
  min-height: 600px;
  object-fit: cover;
  border-radius: 30px;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: -60px;
}

.apropos2 {
  margin-top: 50px;
  color: #343a59;
  padding: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 0;
}

.apropos2 h2 {
  font-size: 40px;
}

.apropos2 img {
  width: 450px;
  min-height: 450px;
  object-fit: cover;
  border-radius: 30px;
  margin-top: 25px;
  margin-right: 50px;
}

.apropos3 {
  margin-top: 50px;
  color: #343a59;
  text-align: center;
  padding: 50px;
}

.apropos3 h2 {
  font-size: 28px;
  color: #343a59;
}

.double2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.apropostext {
  width: 50%;
  max-width: 500px;
}

.cardlogo {
  box-shadow: 3px 3px 10px #00000029;
  width: 300px;
  height: 180px;
  border-radius: 50px;
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardlogo img {
  width: 50%;
}

.sectionLogo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 450px) {
  .apropostext {
    width: 80%;
    text-align: center;
  }

  .double2 {
    flex-wrap: wrap-reverse;
  }

  .apropos1 {
    padding: 0;
    padding-top: 50px;
  }
  .apropos1 {
    text-align: center;
  }

  .apropos1 img {
    width: 90%;
    margin: 0;
    min-height: 300px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .apropos2 {
    flex-wrap: wrap-reverse;
    padding-left: 0;
    padding-right: 0;
    padding: 0;
  }

  .apropos2 img {
    width: 90%;
    margin: 0;
  }

  .apropos3 {
    padding: 0;
  }
}
